.navbar {
    overflow: hidden;
    background-color: #333;
  }
  
  .navbar a {
    float: left;
    font-size: 20px;
    color: white;
    text-align: center;
    
    text-decoration: none;
  }
  .navbar a:hover, .dropdown:hover .dropbtn {
    background-color: red;
  }
 